<div>
    <h2>Create your user</h2>

    <div class="container">
        <form action="/sign-up" method="POST">
            <label for="username">Username:
                <input type="text" name="username" id="username" palceholder="username">
            </label>
            <label for="password">Password:
                <input type="password" name="password" id="password" placeholder="*********">
            </label>
            <button type="submit">Sign up!</button>
        </form>
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}

    </div>
</div>