
{{#if userInSession}}
<p>Welcome, {{userInSession.username}}!</p>
<p>Let's go play <a href="https://evros13.github.io/project-1-game/">The Office</a>!</p>
{{else}}
<a href="/login">Please log in</a>
{{/if}}